<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="login" value="webdriver42@gmail.com"/>
    <add key="password" value="test123dude"/>
    <add key="userName" value="Andrew Appleseed"/>
	 <add key="Facebook" value="https://www.facebook.com/"/>
  </appSettings>
</configuration>